@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



/* Make wrapper background transparent (so your custom node's bg shows) */
.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-group {
  background-color: transparent !important;
  padding: 0 !important;        /* remove padding from wrapper */
  border: none !important;      /* optionally remove wrapper border if interfering */
}


/* If needed, target wrapper + custom node class */
.react-flow__node-default.custom-node,
.react-flow__node-default.custom-node > div {
  background-color: transparent !important;
}


.clip-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}



html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /* Prevent zoom on mobile when tapping */
  touch-action: manipulation;
  -webkit-touch-callout: none;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 8px;
  border: 1px solid #1a192b;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  /* Prevent zoom or scroll when dragging nodes on mobile */
  touch-action: none;
  background: white;
  font-size: 12px;
  text-wrap: nowrap;
}

.dndflow .ghostnode {
  position: fixed;
  pointer-events: none;
  width: 100px;
}

.dndflow .dndnode:active {
  cursor: grabbing;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}








/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
