@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("../src/assets/Fonts/Inter-VariableFont_opsz\,wght\ copy.ttf ");
}

@font-face {
  font-family: PlayFairDisplay;
  src: url("../src/assets/Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: PlayFairDisplayVar;
  src: url("../src/assets/Fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@theme{
  --font-playfairvar: PlayFairDisplayVar,"sans-serif"; 
}


@theme{
  --font-playfair: PlayFairDisplay,"sans-serif"; 
}


@theme{
  --font-inter: Inter,"sans-serif"; 
}

/* Make wrapper background transparent (so your custom node's bg shows) */
.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-group {
  background-color: transparent !important;
  padding: 0 !important;        /* remove padding from wrapper */
  border: none !important;      /* optionally remove wrapper border if interfering */
}

/* .react-flow__handle-top {
  top: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
} */

.react-flow__node {
  overflow: visible !important;
}

/* If needed, target wrapper + custom node class */
.react-flow__node-default.custom-node,
.react-flow__node-default.custom-node > div {
  background-color: transparent !important;
}




.clip-diamond-wrapper {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shape */
  background-color: #1a192b; /* Border color (black) */
  width: 115px;
  height: 65px; 
  /* padding: 23% 19.2%; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.clip-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: white;
  padding: 5px;
  width: 108px;
  height: 61px;

/* Height of the diamond */
}

.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23c5b5fa%22 stroke-width=%221.8%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22%23c5b5fa1c%22 d=%22M153.846 0h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22%23c5b5faa0%22 d=%22M307.692 0h153.846v153.846H307.692z%22%2F%3E%3Cpath fill=%22none%22 d=%22M461.538 0h153.846v153.846H461.538zM615.385 0h153.846v153.846H615.385zM769.231 0h153.846v153.846H769.231zM923.077 0h153.846v153.846H923.077zM1076.923 0h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa68%22 d=%22M1230.769 0h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa76%22 d=%22M1384.615 0h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1538.462 0h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5facd%22 d=%22M1692.308 0h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fafa%22 d=%22M1846.154 0H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa13%22 d=%22M0 153.846h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M153.846 153.846h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22%23c5b5faed%22 d=%22M307.692 153.846h153.846v153.846H307.692z%22%2F%3E%3Cpath fill=%22none%22 d=%22M461.538 153.846h153.846v153.846H461.538zM615.385 153.846h153.846v153.846H615.385zM769.231 153.846h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22%23c5b5fa1e%22 d=%22M923.077 153.846h153.846v153.846H923.077z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1076.923 153.846h153.846v153.846h-153.846zM1230.769 153.846h153.846v153.846h-153.846zM1384.615 153.846h153.846v153.846h-153.846zM1538.462 153.846h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5faa7%22 d=%22M1692.308 153.846h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1846.154 153.846H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fac9%22 d=%22M0 307.692h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M153.846 307.692h153.846v153.846H153.846zM307.692 307.692h153.846v153.846H307.692z%22%2F%3E%3Cpath fill=%22%23c5b5fad9%22 d=%22M461.538 307.692h153.846v153.846H461.538z%22%2F%3E%3Cpath fill=%22none%22 d=%22M615.385 307.692h153.846v153.846H615.385z%22%2F%3E%3Cpath fill=%22%23c5b5fa0f%22 d=%22M769.231 307.692h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22%23c5b5fa99%22 d=%22M923.077 307.692h153.846v153.846H923.077z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1076.923 307.692h153.846v153.846h-153.846zM1230.769 307.692h153.846v153.846h-153.846zM1384.615 307.692h153.846v153.846h-153.846zM1538.462 307.692h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa81%22 d=%22M1692.308 307.692h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1846.154 307.692H2000v153.846h-153.846zM0 461.538h153.846v153.846H0zM153.846 461.538h153.846v153.846H153.846zM307.692 461.538h153.846v153.846H307.692zM461.538 461.538h153.846v153.846H461.538z%22%2F%3E%3Cpath fill=%22%23c5b5fa35%22 d=%22M615.385 461.538h153.846v153.846H615.385z%22%2F%3E%3Cpath fill=%22none%22 d=%22M769.231 461.538h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22%23c5b5fa53%22 d=%22M923.077 461.538h153.846v153.846H923.077z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1076.923 461.538h153.846v153.846h-153.846zM1230.769 461.538h153.846v153.846h-153.846zM1384.615 461.538h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5faef%22 d=%22M1538.462 461.538h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1692.308 461.538h153.846v153.846h-153.846zM1846.154 461.538H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa90%22 d=%22M0 615.385h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22%23c5b5fa3e%22 d=%22M153.846 615.385h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M307.692 615.385h153.846v153.846H307.692zM461.538 615.385h153.846v153.846H461.538zM615.385 615.385h153.846v153.846H615.385zM769.231 615.385h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22%23c5b5fa75%22 d=%22M923.077 615.385h153.846v153.846H923.077z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1076.923 615.385h153.846v153.846h-153.846zM1230.769 615.385h153.846v153.846h-153.846zM1384.615 615.385h153.846v153.846h-153.846zM1538.462 615.385h153.846v153.846h-153.846zM1692.308 615.385h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fabb%22 d=%22M1846.154 615.385H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 769.231h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22%23c5b5fa28%22 d=%22M153.846 769.231h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M307.692 769.231h153.846v153.846H307.692zM461.538 769.231h153.846v153.846H461.538zM615.385 769.231h153.846v153.846H615.385zM769.231 769.231h153.846v153.846H769.231zM923.077 769.231h153.846v153.846H923.077z%22%2F%3E%3Cpath fill=%22%23c5b5fa06%22 d=%22M1076.923 769.231h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1230.769 769.231h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa58%22 d=%22M1384.615 769.231h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1538.462 769.231h153.846v153.846h-153.846zM1692.308 769.231h153.846v153.846h-153.846zM1846.154 769.231H2000v153.846h-153.846zM0 923.077h153.846v153.846H0zM153.846 923.077h153.846v153.846H153.846zM307.692 923.077h153.846v153.846H307.692zM461.538 923.077h153.846v153.846H461.538z%22%2F%3E%3Cpath fill=%22%23c5b5fadc%22 d=%22M615.385 923.077h153.846v153.846H615.385z%22%2F%3E%3Cpath fill=%22%23c5b5faee%22 d=%22M769.231 923.077h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22%23c5b5fa21%22 d=%22M923.077 923.077h153.846v153.846H923.077z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1076.923 923.077h153.846v153.846h-153.846zM1230.769 923.077h153.846v153.846h-153.846zM1384.615 923.077h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa30%22 d=%22M1538.462 923.077h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fac4%22 d=%22M1692.308 923.077h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fab9%22 d=%22M1846.154 923.077H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1076.923h153.846v153.846H0zM153.846 1076.923h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa5d%22 d=%22M307.692 1076.923h153.846v153.846H307.692z%22%2F%3E%3Cpath fill=%22none%22 d=%22M461.538 1076.923h153.846v153.846H461.538z%22%2F%3E%3Cpath fill=%22%23c5b5fa88%22 d=%22M615.385 1076.923h153.846v153.846H615.385z%22%2F%3E%3Cpath fill=%22%23c5b5fabb%22 d=%22M769.231 1076.923h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22none%22 d=%22M923.077 1076.923h153.846v153.846H923.077zM1076.923 1076.923h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa47%22 d=%22M1230.769 1076.923h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fae5%22 d=%22M1384.615 1076.923h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1538.462 1076.923h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa2d%22 d=%22M1692.308 1076.923h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5faf8%22 d=%22M1846.154 1076.923H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1230.769h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22%23c5b5faf7%22 d=%22M153.846 1230.769h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M307.692 1230.769h153.846v153.846H307.692zM461.538 1230.769h153.846v153.846H461.538zM615.385 1230.769h153.846v153.846H615.385z%22%2F%3E%3Cpath fill=%22%23c5b5fa57%22 d=%22M769.231 1230.769h153.846v153.846H769.231z%22%2F%3E%3Cpath fill=%22none%22 d=%22M923.077 1230.769h153.846v153.846H923.077zM1076.923 1230.769h153.846v153.846h-153.846zM1230.769 1230.769h153.846v153.846h-153.846zM1384.615 1230.769h153.846v153.846h-153.846zM1538.462 1230.769h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa39%22 d=%22M1692.308 1230.769h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa04%22 d=%22M1846.154 1230.769H2000v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa0d%22 d=%22M0 1384.615h153.846v153.846H0z%22%2F%3E%3Cpath fill=%22%23c5b5fafb%22 d=%22M153.846 1384.615h153.846v153.846H153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M307.692 1384.615h153.846v153.846H307.692z%22%2F%3E%3Cpath fill=%22%23c5b5fa0b%22 d=%22M461.538 1384.615h153.846v153.846H461.538z%22%2F%3E%3Cpath fill=%22none%22 d=%22M615.385 1384.615h153.846v153.846H615.385zM769.231 1384.615h153.846v153.846H769.231zM923.077 1384.615h153.846v153.846H923.077zM1076.923 1384.615h153.846v153.846h-153.846zM1230.769 1384.615h153.846v153.846h-153.846zM1384.615 1384.615h153.846v153.846h-153.846zM1538.462 1384.615h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22%23c5b5fa9b%22 d=%22M1692.308 1384.615h153.846v153.846h-153.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1846.154 1384.615H2000v153.846h-153.846z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.646%22%2F%3E%3Cstop offset=%2270.5%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}


.clip-oval-wrapper{
  clip-path: ellipse(50% 25% at 50% 50%);
  background-color: black;
  width: 125px; /* Width of the oval */
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clip-oval {
  clip-path: ellipse(50% 25% at 50% 50%);
  background-color: white;
  width: 120px; /* Width of the oval */
  height: 60px; /* Height of the oval */
}











html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /* Prevent zoom on mobile when tapping */
  touch-action: manipulation;
  -webkit-touch-callout: none;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  padding: 15px 10px;
  font-size: 12px;
  background: #f5f7fa;
  border-radius: 1rem;
  width: 3rem;
  height: 10rem;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px; 
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  /* Prevent zoom or scroll when dragging nodes on mobile */
  touch-action: none;
  font-size: 12px;
  text-wrap: nowrap;
}

.dndflow .ghostnode {
  position: absolute;
  pointer-events: none;
  /* width: 100px; */
  transform: translate(-50%, -50%); 
}

.dndflow .dndnode:active {
  cursor: grabbing;
}

/* .dndflow .dndnode.input {
  border-color: #0041d0;
} */

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 100%;
    max-width: 250px;
  }
}




/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
